article {
  border: 3px solid gray;
  padding: 1vw;
  margin-bottom: 1vw;
  width: 16%;
}

article img {
  width: 100%;
  margin-bottom: 1vw;
}

article p {
  font-size: 15px;
  margin: auto;
  display: inline-block;
  margin-bottom: .5rem;
}

article p:last-of-type {
  padding-left: 1rem;
  cursor: pointer;
}

.article-button {
  margin: .2rem 1vw;
}

