article {
  border: 3px solid gray;
  padding: 1vw;
  margin-bottom: 1vw;
  width: 20vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

article img {
  width: 100%;
  margin-bottom: 1vw;
}

article p {
  font-size: 15px;
  margin: auto;
  display: inline-block;
  margin-bottom: .5rem;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

article p:last-of-type {
  padding-left: 1rem;
  cursor: pointer;
}

.article-button {
  margin: .2rem 1vw;
}

h2 {
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
}

img {
  border-radius: 25px;
}


